.codesTable{
    width:100%;
}

.inputTable{
    margin-bottom: 2em;
}

.inputTable button{
    margin-left:1em;
}

.swapCodesList {
    width:100%;
    margin-bottom: 2em;
}

.swapCodesList td {
    width:50%;
    height:50px;
    background-color:#343a40;
    color:#fff;
    font-weight: normal;
    cursor: pointer;
}

.codesListSelected {
    background-color:#007bff!important;
    font-weight: bold!important;
    font-size:125%;
}

.numberInput {
    width: 50px;
    height: 48px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #000;
}

.numberInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }