<form [formGroup]="inputCodeForm" (ngSubmit)="submitNewCode()">
<div align="center">
  <table class="inputTable" formArrayName="inputNumbers">
    <tr>
      <td *ngFor="let codeNumber of codesLengthArray; let i = index" [formGroupName]="i">
          <input type="number" formControlName="inputNumber" class="numberInput" appLimitedCharacters="1">
      </td>
      <td>
        <button class="btn-change">{{ 'New Code' | translate | uppercase }}</button>
      </td>
    </tr>
  </table>
  </div>
</form>

<table class="codesTable">
  <tr>
    <th>
      <table class="codesTable">
        <tr>
          <td width="25%">{{ 'Correct' | translate }}</td>
          <td width="25%">{{ 'Wrong' | translate }}</td>
          <td width="50%">{{ 'Codes' | translate | uppercase }}</td>
        </tr>
      </table>
    </th>
  </tr>
  <tr *ngFor="let code of codes">
    <td>
      <app-code [values]="code.values"></app-code>
    </td>
  </tr>
</table>