<div class="emptyGame" [hidden]="gameInitialized">
  <div class="firstTurn" [hidden]="gameInitializedByYou">
    <form [formGroup]="myCodeForm" (ngSubmit)="submitFirstCode()">
      <div align="center">
        <table class="inputTable" formArrayName="inputNumbers">
          <tr>
            <td *ngFor="let codeNumber of codesLengthArray; let i = index" [formGroupName]="i">
                <input type="number" formControlName="inputNumber" class="numberInput" appLimitedCharacters="1">
            </td>
            <td>
              <button class="btn btn-primary" [disabled]="!myTurn">{{ 'Your Code' | translate | uppercase }}</button>
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
  <div class="waitingFirstTurn" [hidden]="!gameInitializedByYou">
    {{ 'WaitingFirstTurn' | translate | uppercase }}
  </div>
</div>
<div class="gameInitialized" [hidden]="!gameInitialized">
  <form [formGroup]="inputCodeForm" (ngSubmit)="submitNewCode()">
  <div align="center">
    <table class="inputTable" formArrayName="inputNumbers">
      <tr *ngIf="myTurn && !havePendingChecking">
        <td *ngFor="let codeNumber of codesLengthArray; let i = index" [formGroupName]="i">
            <input type="number" formControlName="inputNumber" class="numberInput" appLimitedCharacters="1">
        </td>
        <td>
          <button class="btn btn-primary" [disabled]="!myTurn">{{ 'New Code' | translate | uppercase }}</button>
        </td>
      </tr>
      <tr *ngIf="myTurn && havePendingChecking">
        <td>
            {{codes[0].getStringValue()}}
        </td>
        <td>
          <table>
            <tr>
              <td>
                <button class="quantityButton plus-button" (click)="increaseCorrectGuess();$event.preventDefault()" [disabled]="disablePlusCorrectButton()"></button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="numberInputGuess">
                  {{correctGuess}}
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <button class="quantityButton minus-button" (click)="decreaseCorrectGuess();$event.preventDefault()" [disabled]="disableMinusCorrectButton()"></button>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td>
                <button class="quantityButton plus-button" (click)="increaseWrongGuess();$event.preventDefault()" [disabled]="disablePlusWrongButton()"></button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="numberInputGuess">
                    {{wrongGuess}}
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <button class="quantityButton minus-button" (click)="decreaseWrongGuess();$event.preventDefault()" [disabled]="disableMinusWrongButton()"></button>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <input type="button" class="btn btn-dark" (click)="checkCode()" value="{{ 'Check Code' | translate | uppercase }}">
        </td>
      </tr>
      <tr *ngIf="!myTurn">
        <td>
          {{ 'Waiting Turn' | translate | uppercase }}...
        </td>
      </tr>
    </table>
    </div>
  </form>
  <table class="swapCodesList">
    <tr>
      <td (click)="seeCodesTab('myCodes')" [class.codesListSelected]="seeMyCodes">
        {{ 'My Codes' | translate | uppercase }}
      </td>
      <td (click)="seeCodesTab('opponentCodes')" [class.codesListSelected]="!seeMyCodes">
        {{ 'Opponent Codes' | translate | uppercase }}
      </td>
    </tr>
  </table>
  <table class="codesTable">
    <tr>
      <th>
        <table class="codesTable">
          <tr>
            <td width="25%">{{ 'Correct' | translate }}</td>
            <td width="25%">{{ 'Wrong' | translate }}</td>
            <td width="50%">{{ 'Codes' | translate | uppercase }}</td>
          </tr>
        </table>
      </th>
    </tr>
    <tr [hidden]="!seeMyCodes" *ngFor="let code of myCodes">
      <td>
        <app-code [code]="code"></app-code>
      </td>
    </tr>
    <tr [hidden]="seeMyCodes" *ngFor="let code of opponentCodes">
      <td>
        <app-code [code]="code"></app-code>
      </td>
    </tr>
  </table>
</div>