<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<div style="text-align:center; padding-top:2em;">
  <router-outlet></router-outlet>
</div>
<simple-notifications [options]="notificationOptions"></simple-notifications>
<ng4-loading-spinner> </ng4-loading-spinner>

<app-help-dialog [(visible)]="settingsService.showHelpDialog"></app-help-dialog>
<app-end-game-dialog [(visible)]="settingsService.showEndGameDialog" [(title)]="settingsService.endGameTitle" [(message)]="settingsService.endGameMessage"></app-end-game-dialog>