.myGamesList{
    margin-top:1em;
}

.freeGamesList{
    margin-top:1em;
}

.sectionTitle{
    background-color: #343a40;
    color:white;
    padding:.75rem
}

.game {
    cursor: pointer;
}

.myTurn {
    background-color: #65afff;
}

.playButton {
    text-decoration: underline;
    font-weight: bold;
}

.newGameButton {
    margin-bottom:1em;
}

.maxGamesMessage {
    display:block;
    font-style: italic;
}