<div>
    <button (click)="newGame()" class="btn btn-primary newGameButton" [disabled]="nMyGames>9">
      {{ 'New Game' | translate | uppercase }}
    </button>
    <span [hidden]="nMyGames<10" class="maxGamesMessage">
      {{ 'MaxGamesMessage' | translate | uppercase }}
    </span>
</div>
<div class="myGamesList">
  <div class="sectionTitle">{{ 'My Games' | translate | uppercase}} ({{nMyGames}})</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{{ 'User1' | translate | uppercase}}</th>
        <th scope="col">{{ 'User2' | translate | uppercase}}</th>
        <th scope="col">{{ 'Actions' | translate | uppercase}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let myGame of myGamesListData" class="game" (click)="openGame(myGame.id)">
        <td>{{myGame.user1}}</td>
        <td>{{myGame.user2}}</td>
        <td class="playButton">{{ 'Play' | translate | uppercase}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="freeGamesList">
  <div class="sectionTitle">{{ 'Free Games' | translate | uppercase}} ({{nFreeGames}})</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{{ 'User1' | translate | uppercase}}</th>
        <th scope="col">{{ 'User2' | translate | uppercase}}</th>
        <th scope="col">{{ 'Actions' | translate | uppercase}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let myGame of freeGamesListData" class="game" (click)="joinGame(myGame)">
        <td>{{myGame.user1}}</td>
        <td>{{myGame.user2}}</td>
        <td class="playButton">{{ 'Play' | translate | uppercase}}</td>
      </tr>
    </tbody>
  </table>
</div>
